.outputBox{
    /* border: 1px solid #ccc;  */
  background-color: #212529;
  padding: 20px;
  margin-top: 20px; 
  overflow-y: auto; 
  max-height: 300px;
  color: rgb(255, 255, 255)fff;
  border-radius: 5px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-size: 20px;
}

.otBox{
  border: 1px solid #464141; 
  background-color: #212529;
  overflow-y: auto; 
  height: 30vh;
  color: rgb(255, 255, 255)fff;
  border-radius: 5px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  transition: 0.7s all;
}

.otBox:hover{
  border: 1px solid #dad5d5;
}

.btn:hover{
  background-color: #3d4144;
}